<header>
  <nav class="menu" role="navigation">
    <div class="menu__toggle">
      <input type="checkbox" id="checkMenu">
      <span></span>
      <span></span>
      <span></span>
      <ul class="navbar">
        <li><a [routerLink]="['/home']" class="link-item">Inicio</a></li>
        <li><a [routerLink]="['/character-list']" class="link-item">Personajes</a></li>
        <li><a [routerLink]="['/episodes']" class="link-item">Episodios</a></li>
        <li><a [routerLink]="['/about']" class="link-item">Información</a></li>
      </ul>
    </div>
  </nav>
</header>