<section class="about__page">
  <h1 class="title">Rick y Morty APP</h1>
  <div class="about__container">

    <p class="about__paragraph">
      Angular 12 + Rick y Morty GraphQL API.<br>
      
      Este proyecto fue realizado con Angular 12 y graphql consumiento la API de Rick and Morty.
       Dicha api esta basada en el programa de televisión Rick y Morty. 
      
    </p>
    <figure class="about__img">
      <img src="/assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406"
        height="306">
    </figure>
  </div>
  <p class="about__copy">
    Desarrollado por <span class="text-white">Victor ojeda</span>
  </p>
</section>