.about__paragraph {
  color: #e5b8f4;
  padding: 10px 0;
}

.about__copy {
  color: #e5b8f4;
  text-align: center;
  margin-top: 10px;
}

.principal {
  color: #810ca8;
}

.about__img {
  text-align: center;
}

section {
  height: 93vh;
}
